<footer class="page__footer">
  <div class="container--footer">
    <nav class="footer-first">
      <ul>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">articles</a>
        </li>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">books</a>
        </li>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">events</a>
        </li>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">reasons</a>
        </li>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">tips</a>
        </li>
      </ul>
    </nav>

    <nav class="footer-second">
      <ul>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">twitter</a>
        </li>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">instagram</a>
        </li>
        <li><a title="Enlace Adalab"
            href="https://adalab.es/?gclid=CjwKCAiAvonyBRB7EiwAadauqcMa6iceHK2cRwUoVenqrvD3Vk_CVJHBt2IMsPZiU2ZVCpTexThUqhoCLOwQAvD_BwE">mastodon.social</a>
        </li>
      </ul>
    </nav>
    <small>&copy; 2017</small>
    <span>we <span class="orange-text">♥</span> components</span>
  </div>

</footer>