<main class="page__main">
    <div class="main--white">
        <article class="main--text-one">
            <div class="text-one">
                <h4> insonmnia tips</h4>
                <h2>looking through a window</h2>
                <p>
                    Donec accusam, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
                    Vivamus semper sodales rutrum.
                </p>
            </div>
        </article>
        <button class="main--button-one">go</button>
    </div>

</main>