<section id="3-reasons" class="page__section">

    <h2 class="section--title">
        3 reasons to purchase
    </h2>
    <div class="section--content">

        <div>
            <h3>Ut set metus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur. </p>

        </div>

        <div>
            <h3>Curabicur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>

        </div>

        <div>
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>

        </div>
        <button class="section-button">More reasons</button>
    </div>
</section>