
.page__footer{
    background-color: $backgroundFooter;
    position: relative;

    & .container--footer{
        font-family: $fontText;
        color: $colorWhite;
        font-size: 16px;
        font-weight: normal;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 15px 45px;

        & .footer-first,
        & .footer-second {
            padding-bottom: 30px;
            text-transform: uppercase;
            
            & ul{
                text-align: center;
                
            }
        }

        & a {
            color: $colorWhite;
            font-weight: normal;
        }
        & small,
        & span{
            font-size: 14px;
        }

        & span.orange-text{
            color: $colorOrange;
        }
        
    }

    & .transparent {
        background-color: transparent;
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .footer-button{
            position: absolute;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: $colorWhite;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    
}



    
