.page__header {
  position: fixed;
  background-color:$backgroundHeader;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8125rem;
  height: 2.8125rem;
  
  & .header-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

    & a{
      display: block;
      padding: 0.3125rem;
      
    }
    
  }
}
