.page__hero{
    height: 100vh;
    background: url(../images/cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;

    & .hero-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 53px;
        width: 100%;
        color: $colorWhite;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        align-items: center;
        & h1{
            line-height: 55px;
            text-transform: uppercase;
            font-family: $fontTitle;
            font-size: 42px;
        }
        & p{
            font-family: $fontText;
            font-size: 16px;
            margin-top: 10px;

        }
        & .hero-button{
            background-color: $colorWhite;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 45px;
    
            & a{
                padding: 5px;
                display: block;
            }
        }
        
    }
    @media all and (min-width:$tablet){
        & .hero-container {
         padding-right: 39px;
         padding-left: 39px;
         padding-bottom: 45px;
            
            & h1{
                font-size: 80px;
                line-height: 106px;
            }

            & p{
                font-size: 24px;
                margin-top: 20px;
            }

            & .hero-button{
                margin-top: 30px;
            }
        }
    }

    @media all and (min-width:$desktop){
        & .hero-container{
            padding-right: 275px;
            padding-left: 275px;
            padding-bottom: 13px;

            & h1{
                font-size: 100px;
                line-height: 132px;
            }

            & p{
                margin-top: 0;
            }
        }
    }
    
    
    
}

