.page__section{
    background-color: $backgroundSection;
    padding: 30px 15px 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px 0;

    & .section--title {
        color: $colorBlack;
        font-family: $fontTitle;
        font-size: 24px;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
    }
    > .section--content {
        padding: 0 55px;
        display: grid;
        grid-gap: 45px 0;

        > div {
            color: $colorBlack;

            & h3{
                font-family: $fontTitle;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                line-height: 30px;
            }
    
            & p{
                font-family: $fontText;
                font-size: 18px;
                font-weight: normal;
                text-align: center;
                line-height: 30px;
            }
        }

        
    }

    > .section--container-button {
        text-align: center;

        & .section-button{
            width:184px;
            height:45px;
            background-color: $colorOrange;
            color: $colorWhite;
            border-radius: 22.5px;
            font-family: $fontText;
            font-size: 20px;
            font-weight: 500;
            outline: none;
            border: none;
            transition: background-color 0.8s ease;
            
            &:hover{
                background: $colorDarkOrange;
            }
        }
    }
    @media all and (min-width:768px){

        > .section--content {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 60px 30px;
            padding: 0 35px;

            > div h3{
                font-size: 24px;
            }
            > div p{
                font-size: 20px;
            }
        }
        & .section--title{
            font-size: 26px;
        }
        & .section--container-button .section-button{
            width: 210px;
            
        }
    }

    @media all and (min-width:1200px){
       
        & .section--title{
            padding-top: 30px;
            font-size: 32px;
        }

        & .section--container-button .section-button{
            width: 255px;
        }
    }
}